<main class=" row m-5 "  >
<div class=" col-sm-3 p-3"  *ngFor="let organismAdmin of organismAdmins">


<mat-card class="bg-white text-dark mycard" style="overflow-wrap: anywhere;" >
  <mat-card-header class="">
    <mat-card-title class="row">
      <div class="m-2 col-12">
        <span class=" fst-normal">Service:</span>
        <span *ngFor="let service of organismAdmin.services">
          <span class="badge bg-gradient bg-success-subtle text-black" style="margin-left:5px;">{{service.name}}</span>
        </span>
      </div>


        <div class="col-12">
          <img src="http://127.0.0.1:8000/uploads/logo/{{organismAdmin.logo}}" class="example-header-image"
               alt="org-icon" style="width: 80px; height: 80px" >
          <p class="m-2 name">{{organismAdmin.name}}</p>
        </div>
      </mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-card-content>
      <div class="p-2">
        <div class="row" *ngIf="organismAdmin.website">

          <p class="col-12 info">
            <span class="fw-medium">Email: </span>
            <span title="Source Title"> {{organismAdmin.organismEmail}}</span>
          </p>
          <br>
          <p class="col-12 info">
            <span class="fw-medium">Téléphone: </span>
            <span title="Source Title"> {{organismAdmin.phone}}</span>
          </p>

          <p class="col-12 info" *ngIf="organismAdmin.website">
            <span class="fw-medium">Site Web: </span>
            <span title="Source Title">
            <a href="{{organismAdmin.website}}" target="_blank" class="text-danger"> Visiter</a>
            </span>
          </p>

          <div class="col-12 d-flex justify-content-center">
            <div *ngIf="organismAdmin.website" class="text-center">
               <a class="btn shadow-lg  p-3 text-white modal-dialog modal-dialog-centered pill"
                   data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">DETAIL</a>
            </div>
          </div>
        </div>

        <div *ngIf="!organismAdmin.website" class="d-flex justify-content-center ">
            <a class="btn p-3 shadow-lg text-white pill" routerLink="/organism/profile" type="button">PROFILE</a>
        </div>

      </div>
    </mat-card-content>

  </mat-card-content>

</mat-card>

</div>
</main>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


