<div class=" row m-1"  >
<div class=" col-sm-3 p-3"  *ngFor="let organismAdmin of organismAdmins" >


<mat-card class="bg-white text-dark mycard" style="overflow-wrap: anywhere;" *ngIf="organismAdmin?.profile?.enable || !organismAdmin.profile ">
  <mat-card-header class="">
    <mat-card-title class="row">
      <div class="m-2 col-12">
        <span class=" fst-normal">Service:</span>
        <span *ngFor="let service of organismAdmin.services">
          <span class="badge bg-gradient bg-success-subtle text-black" style="margin-left:5px;">{{service.name}}</span>
        </span>
      </div>

        <div class="col-12">
          <img src="http://127.0.0.1:8000/uploads/logo/{{organismAdmin.logo}}" class="example-header-image"
               alt="org-icon" style="width: 80px; height: 80px" >
          <p class="m-2">{{organismAdmin.name}}</p>
        </div>
      </mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-card-content>
      <div class="p-2">
        <div class="row" *ngIf="organismAdmin.website">

          <p class="col-12 info">
            <span class="fw-medium">Téléphone: </span>
            <span title="Source Title"> {{organismAdmin.phone}}</span>
          </p>

          <p class="col-12 info" *ngIf="organismAdmin.website">
            <span class="fw-medium">Site Web: </span>
            <span title="Source Title">
            <a href="{{organismAdmin.website}}" target="_blank" class="text-danger"> Visiter</a>
            </span>
          </p>

          <div class="col-12 d-flex justify-content-center">
            <div *ngIf="organismAdmin.website" class="text-center">
               <a routerLink="/organism/profile/{{organismAdmin.name}}" class="btn shadow-lg  p-3 text-white pill"
                   type="button">Détail</a>
            </div>
          </div>
        </div>

        <div *ngIf="!organismAdmin.website" class="d-flex justify-content-center">
            <a class="btn p-3 shadow-lg text-white pill" routerLink="/organism/profile/{{organismAdmin.name}}" type="button">Contacter</a>
        </div>

      </div>
    </mat-card-content>

  </mat-card-content>

</mat-card>

</div>
</div>




