<main xmlns="http://www.w3.org/1999/html">
    <div class="mt-5">
      <h1 class="text-center">Modifier vos informations</h1>
    </div>
  
    <div>
      <div class="row d-flex justify-content-center">
      <mat-card class="col-12">
        <mat-card-header>
         <h2 class="text-center">Adresse Info</h2>
        </mat-card-header>
  
        <form [formGroup]="addressFormGroup" class="p-4">
          <div class="mb-3">
            <label class="control-label">Rue</label>
            <input type="text" class="form-control" formControlName="street" [placeholder]="user.organism.organismAdmin.address.street" required>
          </div>
          <div class="mb-3 row">
           <div class="col-4">
             <label class="control-label">Ville</label>
             <input type="text" class="form-control" formControlName="city" required>
           </div>
            <div class="col-4">
              <label class="control-label">Code Postal</label>
              <input type="text" class="form-control" formControlName="zipCode" required>
            </div>
            <div class="col-4">
              <label class="control-label">Pays</label>
              <input type="text" class="form-control" formControlName="country" required>
            </div>
          </div>
        </form>
      </mat-card>
      </div>
  
      <div class="row d-flex justify-content-center mt-5">
      <mat-card class="col-12">
        <mat-card-header>
          <h2 class="text-center">Contact Info</h2>
        </mat-card-header>
  
        <form [formGroup]="profileFormGroup" class="p-4">
          <label>Selectionner vos services<span class="text-danger">*:</span></label>
          <br>
                <div class="form-check form-check-inline m-3" *ngFor="let need of needs; index as i">
                  <label class="form-check-label text-dark"  [for]="'need_' + i">
                    <input class="form-check-input" [id]="'need_'+i" type="checkbox" [value]="need" (change)="onCheckboxChange($event)">

                    <span> {{ need.name }} </span>
                  </label>
                </div>
          <div class="mb-3">
              <label class="control-label">Nom</label>
              <input type="name" class="form-control" formControlName="name" [placeholder]="user.organism.organismAdmin.name" required>
          </div>
          <div class="mb-3">
              <label class="control-label">Email de connexion</label>
              <input type="email" class="form-control" formControlName="email" [placeholder]="user.email" required>
          </div>
          <div class="mb-3">
                <label class="control-label">Logo</label>
                <input class="form-control" type="file" id="certificate"  formControlName="logo" (change)="onImageChange($event)" required>
          </div>
            <div class="mb-3">
                <label class="control-label">Telephone</label>
                <input type="text" class="form-control" formControlName="phone" required>
            </div>
          <div class="mb-3">
              <label class="control-label">Email de contact</label>
              <input type="email" class="form-control" formControlName="contactemail" required>
          </div>
          <div class="mb-3">
              <label class="control-label">Description</label>
              <textarea class="form-control" cols="30" rows="10" formControlName="description" id="floatingTextarea" [placeholder]="user.organism.organismAdmin.description"></textarea>
            </div>
        </form>
      </mat-card>
      </div>
  
      <div class="row d-flex justify-content-center mt-5">
        <mat-card class="col-12">
          <mat-card-header>
            <h2 class="text-center">Sécurité</h2>
          </mat-card-header>
  
          <form [formGroup]="userFormGroup" class="p-4">
            <div class="mb-3">
                <label class="control-label">Mot de passe actuel</label>
              <div class="input-group">
                <input [type]="hide1 ? 'password' : 'text'" formControlName="currentPassword" class="form-control" required>
                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                  <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </div>
            </div>
            <hr>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" formControlName="changePassword" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Souhaitez-vous changer votre mot de passe ?</label>
            </div>
  
            <div class="mb-3">
              <label class="control-label">Nouveau mot de passe </label>
              <div class="input-group">
                <input [type]="hide2 ? 'password' : 'text'" formControlName="newPassword" class="form-control" >
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                  <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </div>
            </div>
  
            <div class="mb-3">
              <label class="control-label">Repéter le nouveau mot de passe </label>
              <div class="input-group">
                <input [type]="hide3 ? 'password' : 'text'" formControlName="repeatNewPassword" class="form-control" >
                <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
                  <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </div>
            </div>
          </form>
        </mat-card>
  
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn text-white" style="width: 20%;" (click)="updateUser()">Modifier</button>
      </div>
  
    </div>
  
  </main>
  
