<nav class="navbar navbar-expand-lg  navbar-bg toolbar shadow ">
  <div class="container-fluid">
    <img src="assets/icons/EduCare.png" alt="Icone" class="logo-img img-fluid  rounded-2">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/accueil"  routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="" >Comment ça marche ?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/explore"  routerLinkActive="active">Explorer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>

      </ul>
    </div>
  </div>
  <div class=" p-3" style="width: 200px" >
          <span *ngIf="!isLoggedIn">
            <a class="nav-link text-primary" role="button" routerLink="/login">Se connecter</a>
          </span>
    <div *ngIf="isLoggedIn">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle p-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <mat-icon *ngIf="user.roles[0] === 'ROLE_STUDENT'" fontIcon="account_circle" class="icon-account"></mat-icon>
            <img *ngIf="user.roles[0] === 'ROLE_ORGANISM'" src="http://127.0.0.1:8000/uploads/logo/{{user.organism.organismAdmin.logo}}"
                 class="rounded-circle" alt="icon-organism" />
          </a>
          <ul class="dropdown-menu p-2">
            <li *ngIf="user.roles[0] === 'ROLE_ORGANISM'"><a class="dropdown-item" routerLink="/organism/profile">Mon Profile</a></li>
            <li  *ngIf="user.roles[0] === 'ROLE_STUDENT'"><a class="dropdown-item" routerLink="/student/profile">Mon Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link text-primary" role="button" (click)="logout()"><mat-icon fontIcon="logout"></mat-icon>Quitter</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
