.navbar-bg {
  background: #f8f9fa;
  font-weight: 600;
}

.nav-item{
    margin-right: 7rem;
}

.navbar-brand{
  color: #18294a;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}

a {
  font-family: Roboto, sans-serif;
  font-size: 24px;
}

a .active {
  font-weight: bold;
  color: #007bff;
}

.logo-img {
  width: 350px;
  height: 100px;
  margin-right: 5px;
}

.icon-account{
  transform: scale(2.5);
  color: #18294a;
  margin-right: 10px;
}

img{
  width: 80px;
  height: 50px
}

@media (max-width: 400px) {
 img{
    width: 50px;
    height: 20px;
 }
  li,a {
    font-size: 12px;
  }
}
