p, li{
  font-family: Roboto;
  color: #2e2f5e;
  line-height: normal;
  font-size: 20px;
}

li {
  font-size: 25px;
  margin: 20px
}

p{
  padding: 2rem 1rem 2rem 1rem;
  margin-bottom: 2rem;
}


.student-btn{
  background: #4b3fcf;
}

.btn {
  align-items: center;
  border: 0.0625rem solid transparent;
  border-radius: .1875rem;
  font-size: 1.5rem;
  padding: 0.625rem 1.875rem;
}
.asso-btn{
  background: #2e2f5e;
}

.centered {
  margin-top: 6rem;
}

p {
  font-family: Roboto;
  line-height: normal;
  color: #18294a;
  font-size: 30px
}


img {
  height: 200px;
  width: 200px;
}

@media (max-width: 694px) {
  img {
    height: 50px;
    width: 50px;
  }
}

google-map{
  width: 100%;
}



