<div class="container-fluid content">
  <div class="row">
    <div class="col-12 h-50 content-1 d-flex justify-content-center ">
      <div class=" w-75 p-5">
        <p class="text-center">Bienvenue</p>
        <p class="text-center">
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit.
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit
        </p>

      </div>
    </div>
    <div class="col-12 h-100 content-2">
       <div class="d-flex d-flex  p-5 m-5 row d-flex justify-content-center">
         <div class=" col-12 d-flex justify-content-between w-50">
           <button class="btn student-box  m-4">
             <div class="p-2 text-white c">
               <p class="text-center h3">Je suis un étudiant</p>
               <img src="assets/icons/student_icon.png" class="rounded img-fluid h-75" alt="student-icon">

             </div>
           </button>

           <button class="btn organism-box  m-4">
             <div class="p-2 text-white">
               <p class="text-center h3">Je suis un Organism</p>
               <img src="assets/icons/ong.png" class="rounded img-fluid h-75 text-center" alt="org-icon">
             </div>
           </button>

         </div>



       </div>
    </div>
  </div>

</div>
