<main>
  <div class="row title">
    <div class="col-md-6 col-xs-12 text">
      <p style="text-align: start;"> Je suis <span  class="brand">étudiant</span> </p>
      <img src="./assets/icons/student_icon.png" alt="">
      <p></p>
      <h3> Je renseigne les categories dont j'ai besoin et j'explore les associations disponibles</h3>
      <button routerLink="/student/profile" class="student" *ngIf="isLoggedIn && user.roles[0] === 'ROLE_STUDENT'">Accéder à mon espace</button>
      <button routerLink="/student/signup" class="student" *ngIf="!isLoggedIn">Renseigner mes besoins</button>
      
    </div>
    <div class="col-md-6 col-xs-12 text">
      <p style="text-align: end;"> Je gère une <span  class="brand">association</span> d'aide aux étudiants</p>
      <img src="./assets/icons/ong.png" alt="">
      <h3> Je souhaite toucher les étudiants de ma localité</h3>
      <button routerLink="/organism/profile" class="asso" *ngIf="isLoggedIn && user.roles[0] === 'ROLE_ORGANISM'">Accéder aux outils</button>
      <button routerLink="/organism/signup" class="asso" *ngIf="!isLoggedIn">Accéder à nos outils</button>
    </div>
  </div>

  <div class="row">
    <h1 class="name">
      <span class="brand">EduCare</span> la plateforme de rencontre entre les étudiants et les associations
    </h1>
  </div>
  


  <p class="m-2 text-center" style="font-size: 25px">
     EduCare c'est une plateforme dediée aux étudiants et par des étudiants
    <br><br>
    En permettant aux plus petites associations d'agir efficacement en étant au plus près des étudiants
    <br><br>
    Facile, Rapide et Precis
   <br><br>
  </p>
  <div class="map m-5">
    <img src="http:\\127.0.0.1:8000\uploads\maps_paris.png" alt="">
  </div>
  
  <p class="mt-4 pt-4 text-center" style="font-size: 25px">
    Vous êtes situez en region parisienne ?
    <br><br>
    Vous souhaitez faire bénéficier le projet à plus de personne ?
    <br><br>
    Aidez nous à cataloguer plus d'associations
    <br><br>
    Contactez Nous !
  </p>
</main>
