<main style="margin-top: 50px">
  <div class="d-flex justify-content-end">
    <app-notifications></app-notifications>
  </div>
  <div class="row">

   <div class="col-3">
     <div class="justify-content-md-start p-3 bg-white">
       <div class="row">
         <div class="col-2 justify-content-center">
           <img src="assets/icons/user.png" class="rounded img-fluid text-center " alt="user-icon">
         </div>
         <div class="col-10 user-info ">
           <span class="text-primary-emphasis"> {{user.student.lastname}}  {{user.student.firstname}}</span><br>
           <span class="text-underline-primary text-primary-emphasis"> {{user.email}}</span><br>
           <span class="text-primary-emphasis">{{user.student.university}}</span><br>
           <span>
            <span class="text-primary-emphasis">{{user.student.address.street}}, {{user.student.address.zipCode}} {{user.student.address.country}}</span>
          </span>
         </div>

         <div class="pt-2 text-center">
           <a mat-raised-button color="accent" class="fw-semibold" routerLink="/student/update/{{currentToken}}" >Modifier vos informations  <mat-icon fontIcon="mode_edit"></mat-icon></a>
         </div>
       </div>
     </div>
   </div>
   <div class="col-xl-8" >
     <h1 class="text-center">Mon Profil</h1>
     <app-student-needs></app-student-needs>
   </div>
  </div>

</main>



