{% extends 'base.html.twig' %}

{% block title %}Edit Need{% endblock %}

{% block body %}

    <div class="card text-center">
        <div class="card-header">
            <h2>Edit Need</h2>
        </div>
        <div class="card-body">
            {{ include('need/_form.html.twig', {'button_label': 'Update'}) }}
        </div>

    </div>

    <a type="button" class="btn btn btn-outline-dark m-3" href="{{ path('app_need_index') }}">back to list</a>
    {{ include('need/_delete_form.html.twig') }}
{% endblock %}
