<div class="details-page row justify-content-center">
    <!-- <a routerLink="/explore" class="m-4"> 
        <button type="button" class="btn btn-dark">
            < Retour
        </button>
        
    </a>    -->
    <div class="banner">
    </div>      
    <div class="col-10" *ngIf="organism">
      <div class="infos text-center">
        <img src="http://127.0.0.1:8000/uploads/logo/{{organism.logo}}" class="logo" width="120px" alt="">
        <h1 class="m-4">{{organism.name}} </h1>
        <p>Email : {{organism.organismEmail}} </p>
        <p>Telephone : {{organism.phone}} </p>
        <p>Site Web : {{organism.website}} </p>
        <p> Adresse : {{organism.address.street}}, {{organism.address.zipCode}} {{organism.address.city}} </p>
        </div>
      <br><br><br>
        <h4>{{organism.description}} </h4>

        
    </div>
    <div *ngIf="hasProfile" class="form-container m-5 row justify-content-center">
        <form class="col-6" action="mailto:{{ organism.profile.user.email }}"> 
            <h1>Vous souhaitez nous contacter ?</h1>   
          <div class="form-group">
            <label for="InputEmail">Adresse Email</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Entrer votre adresse email">
            <small id="emailHelp" class="form-text text-muted">Nous ne divulguerons jamais votre email avec qui que ce soit.</small>
          </div>
          <div class="form-group mt-4">
            <label for="InputName">Nom</label>
            <input type="text" class="form-control" id="InputName" aria-describedby="nameHelp" placeholder="Entrer votre nom">
          </div>
          <div class="form-group mt-4">
            <label for="InputSurname">Prénom</label>
            <input type="text" class="form-control" id="InputSurname" placeholder="Prenom">
          </div>
          <div class="form-group mt-4">
            <label for="message">Message :</label>
            <textarea id="message" class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          
          <button type="submit" class="btn btn-secondary mt-4">Envoyez </button>
        </form>
    </div>
      
</div>
<div class="location text-center">
  <h1>Où nous trouver ?</h1>   
  <div id="map" style="height: 400px;width: 400px;"></div>

</div>