.mat-mdc-form-field {
  margin-top: 10px;
}

mat-stepper {
  background-color: transparent;
}


mat-form-field{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.signup{
  border-radius: 10px;
}
.signup{
  border-radius: 10px;
  width: 50%;
}

matStepLabel{
  color: rgba(3, 19, 100, 0.54)
}

.register{
  color: #D9D9D9;
}

form label {
  color: #999999;
  font-weight: 500;
}

input,button, textarea{
  border: 0.0625rem solid #999999;
  border-radius: 0.1875rem;
  padding: 0.625rem;
  width: 100%;
}

.step-label{
  font-size: 20px;
}

.form-check-input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #adb5bd;
  border-radius: 4px;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #4b3fcf;
  border-color: #4b3fcf;
}

.btn {
  align-items: center;
  border: 0.0625rem solid transparent;
  border-radius: .1875rem;
  font-size: 1.5rem;
  padding: 0.625rem 1.875rem;
  background: #4b3fcf;
  color: #fff;
}

.btn:hover {
  background: #3f3f7a;
}

@media (max-width: 1608px) {
  .signup{
    width: 100%;
  }
  .step-label{
    font-size: 18px;
  }
}

@media (max-width: 408px) {

  .step-label{
    font-size: 8px;
  }
}
