<main>
  <div class="d-flex justify-content-center">
  <div class="signup p-4 mt-5">

    <!--Title -->
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Enregistrez-vous</h1>
      </div>

      <div class="d-flex justify-content-center">
        <div class="container">
          <hr>
          <mat-stepper #stepper class="rounded-2">
            <mat-step [stepControl]="userFormGroup" errorMessage="Les champs marqués d'un astérisque (*) sont obligatoires." >
              <form [formGroup]="userFormGroup">
                <ng-template matStepLabel>
                  <span [ngStyle]="{'color':isUserFormValid() ? 'black' : 'red'}" class="step-label">Compte Utilisateur</span>
                </ng-template>
                <div class="mb-4">
                  <label class="control-label">Email<span class="text-danger">*</span></label>
                  <input type="email" class="form-control" formControlName="email" placeholder="Entrez votre email" required>
                </div>

                <div class="mb-4">
                  <label class="control-label">Mot de passe<span class="text-danger">*</span> </label>
                  <div class="input-group">
                    <input [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control"  placeholder="Entrez votre mot de passe">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                            class="bg-white text-center hide" >
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="mb-4">
                  <label class="control-label">Repétez le mot de passe<span class="text-danger">*</span> </label>
                  <div class="input-group">
                    <input [type]="hide ? 'password' : 'text'" formControlName="passwordRepeat" class="form-control"  placeholder="Repetez votre mot de passe">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                            class="bg-white text-center" >
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </div>
                </div>
                <span>Passer à une autre étape pour voir l'état de l'erreur</span>
                <div>
                  <button mat-button matStepperNext class="text-primary border-0 w-auto">Suivant</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="profileFormGroup" errorMessage="Les champs marqués d'un astérisque (*) sont obligatoires.">
              <form [formGroup]="profileFormGroup">
                <ng-template matStepLabel>
                  <span [ngStyle]="{'color':isProfileFormValid() ? 'black' : 'red'}" class="step-label">Profile</span>
                </ng-template>
                <div class="mb-3">
                  <label class="control-label">Nom<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="firstname" placeholder="Entrez votre nom" required>
                </div>
                <div class="mb-3">
                  <label class="control-label">Prénom<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="lastname" placeholder="Entrez votre prénom" required>
                </div>
                <div class="mb-3">
                  <label class="control-label">Université<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="university" placeholder="Entrez votre université" required>
                </div>

                <span>Passer à une autre étape pour voir l'état de l'erreur</span>
                <div>
                  <button mat-button matStepperPrevious class="text-primary border-0 w-auto">Suivant</button>
                  <button mat-button matStepperNext class="text-primary border-0 w-auto">Suivant</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="addressFormGroup" errorMessage="Les champs marqués d'un astérisque (*) sont obligatoires.">
              <form [formGroup]="addressFormGroup" >
                <ng-template matStepLabel>
                  <span [ngStyle]="{'color':isAddressFormValid() ? 'black' : 'red'}" class="step-label">Adresse</span>
                </ng-template>
                <div class="mb-3">
                  <label class="control-label">Rue<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="street" placeholder="Entrez votre rue" required>
                </div>
                <div class="mb-3">
                  <label class="control-label">Code Postal<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="zipCode" placeholder="Entrez votre Code postal" required>
                </div>
                <div class="mb-3">
                  <label class="control-label">Ville<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="city" placeholder="Entrez votre ville" required>
                </div>
                <div class="mb-3">
                  <label class="control-label">Pays<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="country" placeholder="Entrez votre pays" required>
                </div>
                <span>Passer à une autre étape pour voir l'état de l'erreur</span>
                <div>
                  <button mat-button matStepperPrevious class="text-primary border-0 w-auto">Retour</button>

                  <button mat-button (click)="onSubmit()" class="btn" type="submit" [disabled]="buttonDisabled()" >S'enregistrez</button>
                </div>
              </form>
            </mat-step>

          </mat-stepper>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
