<main>


  <section>
    <div class="banner d-flex justify-content-center">
      <img src="http://127.0.0.1:8000/uploads/logo/{{organism.logo}}" class="mt-4" width="120px" height="120px" alt="logo" >
    </div>

    <div class="d-flex justify-content-center mt-5">
      <div class="row">
        <div class="col-12 text-center">
          <h1>{{organism.name}}</h1>
        </div>

        <div class="col-12 text-center">
          <span *ngFor="let service of organism.services">
            <span class="badge bg-gradient bg-success-subtle text-dark-emphasis m-1" >{{service.name}}</span>
          </span>
        </div>


          <div class="mt-4 text-center">
            <h2 class="text-center">Contact</h2>
            <div class="col-12">
              <p>Email <mat-icon fontIcon="email"></mat-icon>: {{organism.organismEmail}} </p>
            </div>

            <div class="col-12">
              <p>Téléphone <mat-icon fontIcon="phone"></mat-icon>: {{organism.phone}} </p>
            </div>

            <div class="col-12" *ngIf="organism.website">
              <p>Site Web <mat-icon fontIcon="link"></mat-icon> : <a href="{{organism.website}}">{{organism.website}}</a></p>
            </div>

            <div class="col-12">
              <p> Adresse  <mat-icon fontIcon="place"></mat-icon> : {{organism.address.street}}, {{organism.address.zipCode}} {{organism.address.city}} </p>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-4" >
    <div class="row d-flex justify-content-center">
      <h2 class="text-center">Description</h2>
      <div class="w-50 col-12 ">
        <div class="text-center">
          <p>{{organism.description}}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-4" *ngIf="isMyProfile">
    <div class="text-center">
      <a mat-raised-button color="accent" class="fw-semibold" routerLink="/organism/update/{{currentToken}}" >Modifier vos informations  <mat-icon fontIcon="mode_edit"></mat-icon></a>
    </div>
  </section>

  <section class="mt-4">
    <hr>
  </section>

  <section class="mt-4" *ngIf="hasProfile && isLogged">
    <div class="row d-flex justify-content-center">
      <h2 class="text-center">Souhaitez-vous nous contacter ?</h2>

      <div class="contact">
        <form [formGroup]="messageFormGroup">
          <div class="mb-3">
            <input type="text" class="form-control" formControlName="subject" placeholder="Entrez le sujet" required>
          </div>
          <div class="mb-3 form-floating">
            <textarea class="form-control" formControlName="content" id="floatingTextarea" style="height: 100px"  required> </textarea>
            <label for="floatingTextarea">Message</label>
          </div>

          <div class="text-center">
            <button mat-raised-button color="accent" class="fw-semibold" (click)="sendMessage()" [disabled]="buttonDisabled()" >Envoyer <mat-icon fontIcon="send"></mat-icon></button>
          </div>
        </form>
      </div>

    </div>
  </section>

  <section class="mt-4 mb-4 row d-flex justify-content-center" *ngIf="(isLogged || isMyProfile) && hasProfile">
    <h2 class="text-center col-12">Avis</h2>
    <div class="row mb-4 review-slider">
      <div class="col-1">
        <button class="btn bg-transparent h-100 " (click)="prevAvis()"><mat-icon fontIcon="arrow_back_ios"></mat-icon></button>
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col">
            <div class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div *ngFor="let review of reviews; let i = index" [class]="i === currentAvis ? 'carousel-item active' : 'carousel-item'">
                  <mat-card class="m-1 " style="background-color:#fff">
                    <span class="text-center fw-semibold"> {{review.title}}</span>
                    <mat-card-content class="card-body text-center">
                      <span class="card-text">{{ review.content }}</span>
                    </mat-card-content>
                    <mat-card-footer class="p-2">
                      <span>
                        Note : {{review.note}} / 5
                      </span>
                      <br>
                      <span class="card-text">Posté par : {{ review.author.firstname}}</span>
                    </mat-card-footer>
                  </mat-card>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1">
        <button class="btn  bg-transparent h-100" (click)="nextAvis()"><mat-icon fontIcon="arrow_forward_ios"></mat-icon></button>
      </div>
    </div>
    <div class="text-center mt-2" *ngIf="user?.student ">
      <a mat-raised-button color="accent" class="fw-semibold" routerLink="/organism/review/{{organism.name}}" >Redigez votre avis!  <mat-icon fontIcon="mode_edit"></mat-icon></a>
    </div>

  </section>


  <div class="mt-4"></div>

  <section class="mt-4">

    <div>
      <h2 class="text-center">Où nous trouver?</h2>

      <div class="w-100 d-flex justify-content-center">
        <div id="map" style="height: 400px; width: 100%;"></div>
      </div>

    </div>
  </section>

</main>
