.btn{
  background: #3771C8;
  border-radius: 5px;
  flex-shrink: 0;
  font-family: Inder;
  font-size: 24px ;
  color: #D9D9D9;

}
.register{
  color: #D9D9D9;
  font-family: Inder;
}

.card {
  width: 40%;
  background: rgba(99, 196, 167, 0.54);
}
