<div class="main">
  <div class="d-flex justify-content-center w-100">
    <div class="p-4  mt-5" >
      <div class="col-12">
        <h1 class=" text-center" >Connectez-vous</h1>
      </div>

        <div>
          <div *ngIf="echecLogin " class="alert alert-danger" role="alert">
            Email ou mot de passe incorrect !
          </div>
          <hr>
          <div *ngIf="invalidDetails" class="alert alert-danger" role="alert">
            Information invalide !
        </div>
          <div *ngIf="invalidDetails" class="alert alert-danger" role="alert">
            Information invalide !
          </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label class="control-label">Email</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Entrez votre email" required>
        </div>

        <div class="mb-4">
          <label class="control-label">Mot de passe </label>
          <div class="input-group">
            <input [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control"  placeholder="Entrez votre mot de passe">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                    class="bg-white text-center" >
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
        </div>
        <span>vous n'avez pas encore de compte ? <a routerLink="/accueil">ici</a></span>
        <div class=" d-flex justify-content-center text-center mt-5">

          <button class="btn " type="submit" >Connexion</button>

        </div>
      </form>
    </div>
</div>
  </div>
</div>
