<main>
  <section class=" p-4 mt-5  d-flex justify-content-center">
    <div class=" row w-75 ">
      <h1 class="text-center">Rediger un avis</h1>
      <div class="mt-4">
        <div class="text-center">
          <img src="http://127.0.0.1:8000/uploads/logo/{{organism.logo}}" class="rounded-circle" alt="icon-organism" />
        </div>
        <h2 class="text-center">{{organism.name}}</h2>
      </div>
  
      <div class="row contact mt-4  d-flex justify-content-center">
        <div class="col-12 review">
          <form  [formGroup]="reviewFormGroup" >
            <!--Title-->
            <div class="mb-3 form-group">
                <label class="control-label">Titre</label>
                <input class="form-control" placeholder="Entrer un titre"  formControlName="title" required>
            </div>
  
            <div class="mb-3 form-floating">
              <textarea class="form-control" formControlName="content" id="floatingTextarea" style="height: 100px"  required> </textarea>
              <label for="floatingTextarea">Review</label>
            </div>
            <div class="mb-3">
              <div class="form-group">
                <label for="note">Note</label>
                <select class="form-select" id="note" formControlName="note" required>
                  <option value="" disabled selected>Selectionnez une note</option> <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
            <div class="text-center">
              <button mat-raised-button color="accent" class="fw-semibold" (click)="postReview()" [disabled]="buttonDisabled()">Poster <mat-icon fontIcon="send"></mat-icon></button>
            </div>
          </form>
          <div class="text-center w-25 col-12">
            <a mat-raised-button color="warn" class="fw-semibold" routerLink="/organism/profile/{{organism.name}}" >Retourner</a>
          </div>
        </div>
  
      </div>
  
    </div>
  </section>
  
  
  
  </main>