<h1 style="font-family: Inder; text-align: center;">Listes des organismes et associations</h1>

<div class="filter-container">
    <div class="boutons-menu">
        <button type="button" (click)="filter('Santé')" class="btn btn-info btn-details">Santé</button>
        <button type="button" (click)="filter('Sport')" class="btn btn-info btn-details">Sport</button>
        <button type="button" (click)="filter('Logement')" class="btn btn-info btn-details">Logement</button>
        <button type="button" (click)="filter('Alimentaire')" class="btn btn-info btn-details">Alimentaire</button>
    </div>
</div>

<div class="organism-container">
    <div class="organism mb-5" *ngFor="let org of filteredData">
        <div style="font-size: 15px;" class="categorie mb-2">
            <span style="font-weight: bold;">Catégorie : </span> 
            <span *ngFor="let service of org.services; let dernier=last">
                {{ service.name}} 
                <ng-container *ngIf="!dernier"> | </ng-container>
            </span>
        </div>
        <div class="row">
            <div class="col-10">
                <img [src]="org.logo" alt="" width="50px" height="50px"> 
                {{org.name}} 
                <img [src]="org.certificate" alt="" width="30px" height="30px">
            </div>
            <div class="col-2">
                <a [routerLink]="['/details',  encodeParam(org)]">
                    <button type="button" class="btn btn-danger btn-details">Détails</button>
                </a>
            </div> 
        </div>
    </div>
</div>
