.service {
  background: #fffefb;
  padding-top: 2rem;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.category{
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}
.filter button{
  font-family: Inder;
  font-size: 14px;
  border: 1px solid #b3babd;
  border-radius: 4rem;
  padding-left: .625rem;
  padding-right: .625rem;
  padding-top: .425rem;
  padding-bottom: .425rem;
}
.filter button:hover{
  border-radius: 10rem;
  background-color: #18294a;
  color: white;
}
.filter .btn-clicked{
  border-radius: 10rem;
  background-color: #18294a;
  color: white;
}
.filter{
  
  font-size: 25px;
}
.spacer{
  height: 95px;
}

.content-1 p{
  color: #333333;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.64px;
}
