<div class="container-xxl">
  <div class="row service">
    <div class="content col-12 content-1 ">
      <p style="font-size: 25px">
        Explorer la liste des associations
      </p>
    </div>

    <div class="col-12 h-50 content-1 ">

      <div class="row">
        <br>
        <div class="col-12 d-flex ">
          <!-- Utilisez *ngFor pour générer les besoins -->
          <span class="category">Categories : </span>
          <div class="filter" *ngFor="let need of needs; let last=last; index as i">
            <button class="m-2"
                  [ngClass]="{ 'btn-clicked': isSelected(need), 'bg': !isSelected(need) }"
                  (click)="toggleSelection(need)">
                  {{ need.name }}
            </button>

          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="spacer"></div>
  <br>

    <router-outlet></router-outlet>
</div>


